body {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    line-height: 1.5;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}




.hidden {
    display: none;
    position: absolute;
}

.wrapper {
 /*    position: relative; */
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
}

.left__slide{
    opacity: 0;
   transform: translateX(-200%);
}

.right__slide{
    opacity: 0;
   transform: translateX(200%);
}

.container {
    border: 1px solid black;
}


/* HEADER */

.header {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    margin: 0 10vw;
    width:80vw;
    z-index: 100;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


/* LOGO */

.logo__container,
.title__container,
.burger__container {
    border: 1px solid black;
    padding: 1vh;
    text-align: center;
    height: 10vh;
    vertical-align: middle;
}

.logo img {
    height: 8vh;
}


/* TITLE */

.title__container a{
    text-decoration: none;
}

.title {
    transition: all 1s;
    text-decoration: none;
    color: rgba(230, 200,202, 1);
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5vh;
    font-size:2.5em;
    margin: 0 auto;
}

.sub__title{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.3vh;
    font-size: 0.6em;
}




/*NAV*/

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 7vh;
    height: 7vh;
}

.nav__item {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.nav__button {
    text-decoration: none;
    transition: all 0.7s;
    font-size:1em;
    text-transform: capitalize;
    width: 9vw;
    height: auto;
    margin: 1vw auto;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
}


.nav__button:hover {
    transform: scale(1.2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .6);
}

.active {
    color:  rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

.nav-btn {
    position: relative;
    width: 6vh;
    height: 6vh;
    cursor: pointer;
    z-index: 1;
}

.nav-btn>span,
.nav-btn>span::before,
.nav-btn>span::after {
    display: block;
    position: absolute;
    top: 2.5vh;
    width: 7vh;
    height: 1vh;
    border-radius: 15px/15px;
    background-color: rgba(230, 200,202, 1);
    transition-duration: .3s;
}

.nav-btn>span::before {
    content: '';
    top: -2.5vh;
    background-color: rgba(230, 200,202, 1);
}

.nav-btn>span::after {
    content: '';
    top: 2.5vh;
    background-color: rgba(230, 200,202, 1);
}


.nav-btn:hover>span::before,
.nav-btn:hover>span::after {
    background-color: rgba(230, 200,202, 1);
}

.nav-btn:hover>span {
    background-color: rgba(230, 200,202, 1);
}

.nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 10vw;
    height: 100%;
    margin: 0;
    list-style: none;
    box-shadow: 0 0px 60px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

#nav-toggle {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#nav-toggle:checked~.nav-btn>span {
    transform: rotate(45deg);

}

#nav-toggle:checked~.nav-btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: rgba(230, 200,202, 1);
}

#nav-toggle:checked~.nav-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#nav-toggle:checked~.nav {
    visibility: visible;
    left: 0;
}

label .nav-btn {
    float: right;
}



/* MAIN */

.main {
    display: block;
    align-items: baseline;
    margin: 0 10vw;
    width: 80vw;
    padding-top: 10vh;
    height: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .8);
    z-index: 1000;
}


/* SECTION */


.section__name{
    text-align: center;
    margin: 0;
    padding: 1vh;
    font-size:1em;
 }

/* TABCONTENT */


.tabcontent{
    min-height: 86vh;
    border: 1px solid black;
    padding: 2vh;
    width: auto;
}


 .descr__card {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 0 auto;
     flex-wrap: wrap;
     padding: 2vh;
     width: 100%;
 }
 
 .content__picture {
     display: inline-block;
     text-align: center;
     margin: 2vh ;
     border-radius: 15px/15px;
     padding: 2vh;
     max-height: 65vh;
     border: 1px solid black;
 
 }
 
 .descr__text {
     display: inline-block;
     width: auto;
     border: 1px solid black;
     text-align: justify;
     padding: 2vh;
     margin: 2vh ;
 }
 
 .section__title,
 .text__block,
 .slogan {
     display: inline-block;
     border: 1px solid black;
     padding: 2vh;
     margin: 0 auto;
     width: 100%;
 }
 
 .section__title{
     text-align: center;
     text-transform: uppercase;
     color: rgba(230, 200,202, 1);
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5vh;
    font-size:2em;
    text-shadow:0 0 1vh rgba(255, 255, 255, 0.7);
    background-color:rgba(0, 0, 0, .2);
    transition: all 1s;
 }
 
 .text__block {
     font-size:1em;
     font-weight: 400;
 }

.slogan{
    text-align: center;
    font-size: 2em;
}




/* ADVANTAGES */


 .advantages__list{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 1vh;
     padding: 1vh;
     list-style: none;
 }

 .advantages__item{
     flex: 30%;
     display: inline-block;
     margin: 1vh;
     border: 1px solid black;
     border-radius: 15px/15px;
 }





/* SERVICES */

.service{
    min-height: 86vh;
}




 .services__list  {
     position: fixed ;
     display: block;
     top: 12vh;
     left: 90vw;
     width: 10vw;
     height: 100%;
     margin: 0;
     list-style: none;
     transition-duration: .25s;
 }
 
 .services__button {
    text-decoration: none;
    transition: all 0.7s;
    font-size: 1em;
    text-transform: capitalize;
    width: 9vw;
    height: auto;
    margin: 1vw auto;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
}

.services__button:hover {
    transform: scale(1.2);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .6);
}









/* REVIEWS */

.reviews__list{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

.review__item{
    flex: 45%;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px/15px;
}








/* 
.section__descr{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

.section__descr__item{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px/15px;
}
 */






























/*contacts*/


.contacts {
    display: block;
    margin: 50px auto;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}

.contacts a {
    color: white;
    text-decoration: none;
}

.contacts a:hover {
    color: rgba(230, 200,202, 1);
    text-decoration: underline;
}

.contacts__top {
    display: block;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 250px;
}

a.social__link {
    display: block;
    margin: 0 50px;
    transform: scale(3);
    color: rgba(255, 151, 82, 1);
    transition: 0.5s;
}

.social__link svg {
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 1px;
}

a.social__link:hover {
    transform: scale(5) rotate(360deg);
}

.contacts__center {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid rgba(0, 0, 0, .2);
    border-right: 5px solid rgba(0, 0, 0, .2);
    margin: 30px;
    flex-wrap: wrap;
    padding: 0 50px;
}

.contacts__center .divider {
    flex: 100%;
    height: 2px;
}

.contacts__logo__container {
    flex: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contacts__container {
    flex: 30%;
    display: block;
    text-align: left;

}

.contacts__logo__container {
    transition: all 0.5s;
}

.contacts__logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    transition: all 0.5s;
}

.contacts__logo__container img {
    border-radius: 50%;
}

.contacts__logo__container a:hover {
    transform: scale(1.5);
}

.contacts__services__menu__container {
    flex: 30%;
    display: block;
}

.contacts__services__list {
    display: block;
    padding: 10px;
}

.contacts__service__item {
    text-align: start;
    padding: 5px;
    margin: 5px;
}

.contacts__bottom {
    flex: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border-top: 5px solid rgba(0, 0, 0, .2);
    border-bottom: 5px solid rgba(0, 0, 0, .2);
}



/* MODAL */


.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog {
    width: 80vh;
    /* height: 40vh; */
    margin: 25vh auto 35vh auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
}

.modal__content {
    position: relative;
   /*  width: 100%; */
    padding: 2vh;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px/15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 1vh;
    right: 3vh;
    font-size: 2em;
    color: rgba(0, 0, 0, .4);
    opacity: .5;
    font-weight: 700;
    border:none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    text-transform: uppercase;
    color: rgba(230, 200,202, 1);
   font-family: 'Amatic SC';
   font-style: normal;
   font-weight: 900;
   letter-spacing: 0.5vh;
   font-size:2em;
   text-shadow:0 0 1vh rgba(255, 255, 255, 0.7);
}

.modal__input {
    display: block;
    margin: 2vh auto 2vh auto;
    width: 180px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border: none;
    border-radius: 15px/15px;
    font-size: 0.8em;
    text-align: center;
    padding: 0 2vh;
    outline: 0
}

.modal__input__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__input__container span {
    margin: 0 2vh;
    color: rgba(0, 0, 0, .2);
}

.modal__btn {
    display: block;
    width:30vh;
    border-radius: 15px/15px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5vh;
    font-size:2em;
    background:rgba(230, 200,202, 1) ;
    text-shadow:0 0 1vh rgba(255, 255, 255, 0.7);
    padding: 1vh;
    margin: 1vh auto;
    transition: all 0.5s;
}

.modal__btn:hover {
   transform: scale(1.1);
   box-shadow: 0 0 10px rgba(255, 255, 255, .4);
}
/* UP__BUTTON */


.up__button img {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(230, 200,202, 1);
    position: fixed;
    transform: scale(1.2);
    bottom: 10vh;
    right: 3vh;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 1s;
}



.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}