body {
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}
/* 
.hidden {
    visibility: hidden;
    left: -100%;
}
 */
.wrapper {
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .4);
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid black;
}

.left__slide {
    opacity: 0;
    transform: translateX(-200%);
}

.right__slide {
    opacity: 0;
    transform: translateX(200%);
}


/* HEADER */

.header {
    position: fixed;
    background-color: rgba(225, 191, 179, 0.5);
    display: block;
    top: 0;
    left: 0;
    margin: 0 5vw;
    width: 90vw;
    padding: 0;
    z-index: 100;
    height: auto;
}

.header__hide {
    top: -10%;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

/* LOGO */

.logo__container,
.title__container,
.navigation {
    padding: 1vh;
    text-align: center;
    max-height: 8vh;
    border-radius: 15px/15px;
}

.logo__container {
    flex: 10%;
}

.logo img {
    width: 6vh;
    height: 6vh;
    box-shadow: inset 0 0 3vh rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/* .logo__anim{
    animation: logo__anim 50s linear infinite forwards;
}

@keyframes logo__anim{
    0%{
      transform: rotate() skew(0,0);
      filter: brightness(100%) contrast(100%);
    }
    100%{
        transform: rotate(720deg) skew(7deg,-21deg);
        filter: brightness(500%) contrast(500%);
    }
} */

/* TITLE */
.title__container {
    flex: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.title__container a {
    text-decoration: none;
}

.title {
    transition: all 1s;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 0 0 3vh rgba(0, 0, 0, 1);
    font-size: 2em;
    word-wrap: break-word;
    letter-spacing: 0.3vh;
    margin: 0 auto;
    padding: 0;
}

.sub__title {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 3vh rgba(0, 0, 0, 1);
    letter-spacing: 0.2vh;
    font-size: 0.8em;
    word-wrap: break-word;
    margin: 0 auto;
}

/*NAV*/
.navigation {
    flex: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1vh 3vw;
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 55px;
    height: 55px;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    visibility: hidden;
    top: 9vh;
    left: -100%;
    width: 90vw;
    height: auto;
    margin: 0 5vw;
    padding: 0;
    list-style: none;
    background-color: rgba(225, 191, 179, 0.8);
    transition-duration: 0.1s;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 3vh;
}

.menu__button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 0 1vh rgba(0, 0, 0, .1);
    text-transform: capitalize;
    letter-spacing: 0.1vh;
    color: rgba(255, 255, 255, 1);
    width: auto;
}

.menu__item a:hover {
    transform: scale(1.3);
    color: rgba(255, 255, 255, 1);
}

.active {
    color: rgba(231, 161, 125, 1);
    font-weight: 600;
}

.nav-btn {
    display: block;
    position: relative;
    width: 6vh;
    height: 6vh;
    cursor: pointer;
    z-index: 1;
}

.nav-btn>span,
.nav-btn>span::before,
.nav-btn>span::after {
    display: block;
    position: absolute;
    top: 4vh;
    right: 1%;
    width: 6vh;
    height: 0.8vh;
    border-radius: 15px/15px;
    background-color: rgba(255, 255, 255, 1);
    transition-duration: .3s;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.5);
}

.nav-btn>span::before {
    content: '';
    top: -2.5vh;
    background-color: #fff9ef;
}

.nav-btn>span::after {
    content: '';
    top: 2.5vh;
    background-color: #fff9ef;
}

.nav-btn:hover>span::before,
.nav-btn:hover>span::after {
    background-color: #fff9ef;
}

.nav-btn:hover>span {
    background-color: #fff9ef;
}

#nav-toggle {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#nav-toggle:checked~.nav-btn>span {
    transform: rotate(45deg);
}

#nav-toggle:checked~.nav-btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff9ef;
}

#nav-toggle:checked~.nav-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#nav-toggle:checked~.nav__menu {
    visibility: visible;
    left: 0;
}

/* .nav__menu__visible{
    visibility: visible;
    left: 0;
} */

label .nav-btn {
    float: right;
}


/* MAIN */

.main {
    width: 100vw;
    padding-top: 12vh;
    margin: 0 auto;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .9);
}

.tabcontent {
    min-height: 86vh;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(255, 151, 82, 1);
}

.section__name {
    font-family: 'Comfortaa', cursive;
    letter-spacing: 0.2vh;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 1%;
    font-size: 1em;
    transition: all 1s;
}

.section__title {
    color: white;
    padding: 0;
    text-align: center;
    font-size: 1em;
    background-color: rgba(225, 191, 179, 0.5);
    margin: 0;
    transition: all 1s;
    border-radius: 15px/15px;
    box-shadow: 0 0 2vh rgba(0, 0, 0, .3);
}


.descr__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% auto;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.content__picture {
    text-align: center;
    width: 45%;
    height: auto;
    margin: 1% 2%;
    padding: 1%;
    border: 1px solid rgba(231, 161, 125, 1);
    border-radius: 15px/15px;
    box-shadow: 0 0 2vh rgba(0, 0, 0, .3);
}

.descr__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1%;
    width: 45%;
    height: auto;
}

.text__block {
    display: block;
    word-wrap: break-word;
    padding: 2%;
    margin: 2% auto;
    max-width: 90%;
    font-size: 1em;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgba(170, 115, 84, 1);
    background-color: rgba(225, 191, 179, 0.5);
    box-shadow: 0 0 2vh rgba(0, 0, 0, .3);
}

.client__need {
    display: block;
    word-wrap: break-word;
    padding: 1%;
    margin: 1% auto;
    font-size: 1em;
    text-align: center;
    color: rgba(225, 191, 179, 1);
}

h3.section__title,
.service__title,
.service__components__list__title {
    text-align: center;
    flex: 100%;
    color: #fff9ef;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.9);
    background-color: rgba(225, 191, 179, 1);
    transition: all 1s;
    padding: 2%;
}

.question {
    font-family: 'Comfortaa', cursive;
    background-color: rgba(255, 255, 255, .4);
}

.answer {
    font-size: 1em;
    text-align: start;
    font-family: 'Cormorant Garamond', serif;
}

/* ADVANTAGES */

.advantages__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1vh;
    padding: 1vh;
    list-style: none;
}

.advantages__item {
    flex: 30%;
    display: inline-block;
    margin: 1vh;
    border-radius: 15px/15px;
}

/* SERVICES */

.personal__stylist__services {
    position: relative;
}

.service__item .descr__card {
    justify-content: space-around;
    align-items: baseline;
    margin: 1% auto;
}

.services__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.service {
    min-height: 86vh;
    max-width: 90%;
}

.personal__stylist__services .service__title {
    flex: 100%;
    text-transform: none;
}

.services__list {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 12vh;
    right: 0;
    width: 10%;
    height: 70vh;
    margin: 0;
    margin-right: 2%;
    padding: 0;
    list-style: none;
    transition-duration: .25s;
}

.service__item {
    flex: 100%;
    display: block;
    font-size: 1em;
    margin: 1% auto;
    padding: 2%;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(252, 230, 209, 1);
    border-radius: 15px/15px;
    transition: all 0.3s
}

.service__button {
    text-decoration: none;
    color: rgba(231, 161, 125, 1);
    font-family: 'Cormorant Garamond', serif;
    height: auto;
}

.service__item:hover {
    transform: scale(1.1);
    background-color: rgba(231, 161, 125, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.service__button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.service__item:active {
    transform: scale(1.5);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
}

.service__button:active {
    font-size: 110%;
    color: rgba(231, 161, 125, 1);
}

.service__button .badge {
    color: rgba(170, 115, 84, 1);
}

.badge {
    transform: scale(0.9);
}

.service__aim {
    font-size: 1.5em;
    color: rgba(170, 115, 84, 1);
    font-family: 'Comfortaa';
    text-align: center;
    margin: 2%;
    padding: 2%;
}

.service__components__list {
    margin: 2%;
    padding: 2%;
}

.personal__buyer__services {
    list-style: none;
    margin: 2%;
    padding: 2%;
}

.service__components__list__title {
    margin: 2% auto;
    padding: 2%;
}

.service__component {
    font-size: 1.5em;
    margin: 2%;
    padding: 2%;
    color: rgba(170, 115, 84, 1);
}

.aditional__services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: circle;
}

.aditional__services__item {
    display: block;
    width: 96%;
    margin: 2%;
    padding: 2%;
    border: 1px solid rgba(231, 161, 125, 1);
}

.aditional__service__title {
    font-size: 1em;
    color: rgba(231, 161, 125, 0.5);
}

.service__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service__details .text__block {
    flex: 100%;
    margin: 1%;
}

.service__details table {
    flex: 100%;
    font-size: 1em;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.service__duration td,
.service__online__possibility td {
    border: 1px solid black;
    padding: 1%;
}

.order__link {
    width: 20%;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 161, 125, 1);
    border-radius: 15px/15px;
    padding: 1%;
    margin: 2%;
}

/* GIFT */

.gift__card__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1% auto;
}

/* REVIEWS */

.reviews__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}

.review__item {
    flex: 45%;
    display: block;
    margin: 1%;
    border: 1px solid rgba(255, 151, 82, 1);
    border-radius: 15px/15px;
    padding: 1%;
}

/* SHOPPING-TOURS */

.shopping__tours__list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1% auto;
    width: auto;
}

.shopping__tour__item {
    flex: 40%;
    display: block;
    margin: 1%;
    padding: 1%;
}

.shopping__tour__name {
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1em;
    background-color: rgba(225, 191, 179, 1);
    margin: 0;
}

.shopping__tour__item .text__block {
    background-color: rgba(255, 255, 255, 1);
    text-align: start;
}

.day__descr__item {
    display: block;
    margin: 2% auto;
    color: rgba(255, 255, 255, 1);
    padding: 2%;
    background-color: rgba(225, 191, 179, 1);
}

.shopping__tour__program {
    padding: 0;
}

.tour__price {
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 30px;
    align-self: flex-end;
}

.day__descr {
    padding: 2%;
}

.order__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% auto;
}

.order__link {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*contacts*/

.contacts {
    display: block;
    margin: 50px auto;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}

.contacts a {
    color: white;
    text-decoration: none;
}

.contacts a:hover {
    color: #fff9ef;
    text-decoration: underline;
}

.contacts__top {
    display: block;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 5% auto;
    padding: 0;
    height: auto;
}

a.social__link {
    display: block;
    margin: 0 auto;
    transform: scale(3);
    color: rgba(255, 151, 82, 1);
    transition: 0.5s;
}

.social__link svg {
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 1px;
}

a.social__link:hover {
    transform: scale(5) rotate(360deg);
}

.contacts__center {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 10% 5%;
    flex-wrap: wrap;
    padding: 2%;
}

.contacts__center .divider {
    flex: 100%;
    height: 2px;
}

.contacts__logo__container {
    flex: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contacts__container {
    flex: 30%;
    display: block;
    text-align: right;
}

.contacts__logo__container {
    flex: 30%;
    transition: all 0.5s;
}

.contacts__logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    transition: all 0.5s;
}

.contacts__logo__container img {
    border-radius: 50%;
}

.contacts__logo__container a:hover {
    transform: scale(1.5);
}

.contacts__services__menu__container {
    flex: 30%;
    display: block;
}

.contacts__services__list {
    display: block;
    padding: 10px;
}

.contacts__service__item {
    display: inline-block;
    text-align: start;
    padding: 2%;
    margin: 2%;
    width: 100%;
}

.contacts__bottom {
    flex: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border-top: 5px solid rgba(0, 0, 0, .2);
    border-bottom: 5px solid rgba(0, 0, 0, .2);
}

/*
#fff9ef
#fce6d1     
rgba(225, 191, 179, 1)
rgba(231, 161, 125, 1)
#aa7354  
*/

/* MODAL */
.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10050;
    display: none;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog {
    width: 40%;
    height: 35vh;
    margin: 25vh auto 35vh auto;
    border-radius: 15px/15px;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 2vh;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px/15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
    height: auto;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 1vh;
    right: 3vh;
    font-size: 1.5em;
    color: rgba(255, 255, 255, .7);
    opacity: .5;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.9);
}

.modal__input {
    display: block;
    margin: 2vh auto 2vh auto;
    width: 12vw;
    height: 4vh;
    background-color: rgba(231, 161, 125, 1);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, .7);
    border: none;
    border-radius: 15px/15px;
    font-size: 1em;
    text-align: center;
    padding: 0 2vh;
    outline: 0
}

.modal__input__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__input__container span {
    margin: 0 2vh;
    color: #fff9ef;
}

.modal__btn {
    display: block;
    width: 50%;
    border-radius: 15px/15px;
    text-align: center;
    color: rgba(0, 0, 0, .9);
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    text-shadow: 0 0 1vh rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 1vh rgba(0, 0, 0, .7);
    background-color: rgba(225, 191, 179, 1);
    padding: 1vh;
    margin: 1vh auto;
    transition: all 0.5s;
}

.modal__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
}

/* UP__BUTTON */

.up__button img {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    transform: scale(1.2);
    bottom: 5vh;
    right: 5vh;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 1s;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.plane {
    animation: plane 10s linear infinite forwards;
}

.travel {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 5%;
}

.image-container {
    position: absolute;
}

@keyframes plane {
    0% {
        transform: translate(-70vw, 5vw) scale(0.01);
    }

    5% {
        transform: translate(-65vw, 4.5vw) scale(0.015);
    }

    10% {
        transform: translate(-60vw, 4vw) scale(0.02);
    }

    15% {
        transform: translate(-55vw, 3.5vw) scale(0.025);
    }

    20% {
        transform: translate(-50vw, 3vw) scale(0.03);
    }

    25% {
        transform: translate(-45vw, 2.5vw) scale(0.035);
    }

    30% {
        transform: translate(-40vw, 2vw) scale(0.04);
    }

    35% {
        transform: translate(-35vw, 1.5vw) scale(0.045);
    }

    40% {
        transform: translate(-30vw, 1vw) scale(0.05);
    }

    45% {
        transform: translate(-25vw, 0.5vw) scale(0.055);
    }

    50% {
        transform: translate(-20vw, 0) scale(0.06);
    }

    55% {
        transform: translate(-15vw, -0.5vw) scale(0.065);
    }

    60% {
        transform: translate(-10vw, -1vw) scale(0.07);
    }

    65% {
        transform: translate(-5vw, -1.5vw) scale(0.075);
    }

    70% {
        transform: translate(0, -2vw) scale(0.08);
    }

    75% {
        transform: translate(5vw, -2.5vw) scale(0.085);
    }

    80% {
        transform: translate(10vw, -3vw) scale(0.09);
    }

    85% {
        transform: translate(15vw, -3.5vw) scale(0.095);
    }

    90% {
        transform: translate(20vw, -4vw) scale(0.1);
    }

    95% {
        transform: translate(25vw, -4.5vw) scale(0.105);
    }

    100% {
        transform: translate(30vw, -5vw) scale(0.11);
    }
}

/* CTA */

.CTA__container {
    display: block;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
    width: 100%;
}

.CTA {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(225, 191, 179, 1);
    padding: 1%;
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px/10px;
}

.sign__up {
    display: flex;
    width: auto;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.sign__up input {
    width: 80%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

input.CTA__button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2vh;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin: 3% auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0 0 5vh 0 rgba(0, 0, 0, .5);
    background-color: rgba(255, 151, 82, 1);
    border-radius: 10px/10px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}